@model CapstoneProject.Models.ViewModels.EmployeeBalanceVM

@{
    ViewBag.Title = "AddToBalance";
}

<h4>Add to balance for</h4>
<h2>@Html.DisplayFor(model => model.EmployeeName)</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.EmployeeId)

	<div class="form-group">
		@Html.LabelFor(model => model.BalanceOwed, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DisplayFor(model => model.BalanceOwed, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ReceiptAmt, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.ReceiptAmt, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ReceiptAmt, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.BonusAmt, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.BonusAmt, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.BonusAmt, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Update" class="btn btn-default" /> |
			@Html.ActionLink("Back", "Details", new { id = Model.EmployeeId })
		</div>
	</div>
</div>
}
