@model CapstoneProject.Models.Alert

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeResponded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeResponded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemAlerts)
        </dt>

        <dd>
            <ul>
				@foreach (var item in Model.ItemAlerts)
				{
					string cssClass = "alert-stock" + item.StockCode;
					<li class="@cssClass">@Html.DisplayFor(modelItem => item.RestaurantItem.Item.Name)</li>
				}
			</ul>
        </dd>

    </dl>