@model CapstoneProject.Models.ViewModels.EmployeeAlertVM

@{
    ViewBag.Title = "Respond";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h4>Thank you,</h4>
	<h2>@Html.DisplayFor(model => model.EmployeeName)</h2>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.AlertId)
	@Html.HiddenFor(model => model.EmployeeId)
	<p>An alert has been posted for following items that have been 86'd (red) or are running low (yellow).</p>
	@Html.Action("_DetailsPartial", new { id = Model.AlertId })
	<h3>Are you sure you would like to respond to this alert?</h3>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Respond" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
    @Html.ActionLink("Exit", "Index", "Home")
</div>
