@model CapstoneProject.Models.ViewModels.EmployeeScheduleVM

@{
				/**/

				ViewBag.Title = "Details";
}

<div>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.SundayStart)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MondayStart)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TuesdayStart)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.WednesdayStart)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ThursdayStart)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FridayStart)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SaturdayStart)
			</th>
		</tr>
		<tr>
			@if (Model.SundayStart != null)
			{
				<td>
					@Html.DisplayFor(model => model.SundayStart)
				</td>
			}
			else
			{
				<td>
					-----------
				</td>
			}


			@if (Model.MondayStart != null)
			{
				<td>
					@Html.DisplayFor(model => model.MondayStart)
				</td>
			}
			else
			{
				<td>
					-----------
				</td>
			}

			@if (Model.TuesdayStart != null)
			{
				<td>
					@Html.DisplayFor(model => model.TuesdayStart)
				</td>
			}
			else
			{
				<td>
					-----------
				</td>
			}

			@if (Model.WednesdayStart != null)
			{
				<td>
					@Html.DisplayFor(model => model.WednesdayStart)
				</td>
			}
			else
			{
				<td>
					-----------
				</td>
			}

			@if (Model.ThursdayStart != null)
			{
				<td>
					@Html.DisplayFor(model => model.ThursdayStart)
				</td>
			}
			else
			{
				<td>
					-----------
				</td>
			}

			@if (Model.FridayStart != null)
			{
				<td>
					@Html.DisplayFor(model => model.FridayStart)
				</td>
			}
			else
			{
				<td>
					-----------
				</td>
			}

			@if (Model.SaturdayStart != null)
			{
				<td>
					@Html.DisplayFor(model => model.SaturdayStart)
				</td>
			}
			else
			{
				<td>
					-----------
				</td>
			}
		</tr>

	</table>
</div>
<p>
	<h3>@Html.ActionLink("Edit", "EditSchedule", new { id = Model.EmployeeId })</h3>
</p>
		
