@model CapstoneProject.Models.ViewModels.ItemVM

@{
    ViewBag.Title = "Create";
}

<h4>Add Inventory Item for</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.RestaurantId)
    
<div class="form-horizontal">
	<h2>@ViewBag.RestaurantName</h2>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<div class="form-group" id="new-item">
		@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group" id="old-item">
		@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("ItemId", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.NewItem, htmlAttributes: new { @class = "control-label col-md-2" })
		@Html.EditorFor(model => model.NewItem)
		@Html.ValidationMessageFor(model => model.NewItem, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-default" /> |
			@Html.ActionLink("Back", "Details", "Restaurants", new { id = Model.RestaurantId }, null)
		</div>
	</div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
		if (window.addEventListener) {
			$("#NewItem")[0].addEventListener("change", ToggleNew, false);
			window.addEventListener("load", ToggleNew, false);
		} else if (window.attachEvent) {
			$("#NewItem")[0].attachEvent("onchange", ToggleNew);
			window.attachEvent("load", ToggleNew);
		}
		function ToggleNew(){
			if ($("#NewItem")[0].checked) {
				$("#old-item")[0].style.display = "none";
				$("#new-item")[0].style.display = "block";
			} else {
				$("#new-item")[0].style.display = "none";
				$("#old-item")[0].style.display = "block";
			}
		}
</script>
}
